parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\UriSigner not found\\.$#"
			count: 1
			path: src/Factory/UriSignerFactory.php

		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Factory\\\\UriSignerFactory\\:\\:createUriSigner\\(\\) has invalid return type Symfony\\\\Component\\\\HttpKernel\\\\UriSigner\\.$#"
			count: 1
			path: src/Factory/UriSignerFactory.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, string\\|false given\\.$#"
			count: 1
			path: src/Generator/VerifyEmailTokenGenerator.php

		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Model\\\\VerifyEmailSignatureComponents\\:\\:getExpirationMessageData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/VerifyEmailSignatureComponents.php

		-
			message: "#^Parameter \\#1 \\$targetObject of method DateTimeInterface\\:\\:diff\\(\\) expects DateTimeInterface, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: src/Model/VerifyEmailSignatureComponents.php

		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Util\\\\VerifyEmailQueryUtility\\:\\:getQueryParams\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Util/VerifyEmailQueryUtility.php

		-
			message: "#^Offset 'query' on array\\{scheme\\?\\: string, host\\?\\: string, port\\?\\: int\\<0, 65535\\>, user\\?\\: string, pass\\?\\: string, path\\?\\: string, query\\: string, fragment\\?\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Util/VerifyEmailQueryUtility.php

		-
			message: "#^Parameter \\#2 \\$array of function array_key_exists expects array, array\\<string, int\\|string\\>\\|false given\\.$#"
			count: 1
			path: src/Util/VerifyEmailQueryUtility.php

		-
			message: "#^Call to method check\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\UriSigner\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Call to method sign\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\UriSigner\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\VerifyEmailHelper\\:\\:__construct\\(\\) has parameter \\$uriSigner with no type specified\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\VerifyEmailHelper\\:\\:generateSignature\\(\\) has parameter \\$extraParams with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Parameter \\#1 \\$expiresAt of class SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Model\\\\VerifyEmailSignatureComponents constructor expects DateTimeInterface, DateTimeImmutable\\|false given\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\VerifyEmailHelper\\:\\:\\$queryUtility has no type specified\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\VerifyEmailHelper\\:\\:\\$router has no type specified\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\VerifyEmailHelper\\:\\:\\$tokenGenerator has no type specified\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\VerifyEmailHelper\\:\\:\\$uriSigner has unknown class Symfony\\\\Component\\\\HttpKernel\\\\UriSigner as its type\\.$#"
			count: 1
			path: src/VerifyEmailHelper.php

		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\VerifyEmailHelperInterface\\:\\:generateSignature\\(\\) has parameter \\$extraParams with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/VerifyEmailHelperInterface.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$helper\\.$#"
			count: 3
			path: tests/AcceptanceTests/VerifyEmailAcceptanceTest.php

		-
			message: "#^Cannot access offset 'query' on array\\{scheme\\?\\: string, host\\?\\: string, port\\?\\: int\\<0, 65535\\>, user\\?\\: string, pass\\?\\: string, path\\?\\: string, query\\?\\: string, fragment\\?\\: string\\}\\|false\\.$#"
			count: 1
			path: tests/AcceptanceTests/VerifyEmailAcceptanceTest.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, string\\|false given\\.$#"
			count: 3
			path: tests/AcceptanceTests/VerifyEmailAcceptanceTest.php

		-
			message: "#^Parameter \\#2 \\$user_string of function hash_equals expects string, array\\|string given\\.$#"
			count: 1
			path: tests/AcceptanceTests/VerifyEmailAcceptanceTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\AcceptanceTests\\\\VerifyEmailAcceptanceFixture\\:\\:\\$helper has no type specified\\.$#"
			count: 1
			path: tests/AcceptanceTests/VerifyEmailAcceptanceTest.php

		-
			message: "#^Cannot access offset 'query' on array\\{scheme\\?\\: string, host\\?\\: string, port\\?\\: int\\<0, 65535\\>, user\\?\\: string, pass\\?\\: string, path\\?\\: string, query\\?\\: string, fragment\\?\\: string\\}\\|false\\.$#"
			count: 2
			path: tests/FunctionalTests/VerifyEmailHelperFunctionalTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\UriSigner not found\\.$#"
			count: 1
			path: tests/FunctionalTests/VerifyEmailHelperFunctionalTest.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, string\\|false given\\.$#"
			count: 1
			path: tests/FunctionalTests/VerifyEmailHelperFunctionalTest.php

		-
			message: "#^Parameter \\#2 \\$user_string of function hash_equals expects string, array\\|string given\\.$#"
			count: 2
			path: tests/FunctionalTests/VerifyEmailHelperFunctionalTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\FunctionalTests\\\\VerifyEmailHelperFunctionalTest\\:\\:\\$expiryTimestamp has no type specified\\.$#"
			count: 1
			path: tests/FunctionalTests/VerifyEmailHelperFunctionalTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\FunctionalTests\\\\VerifyEmailHelperFunctionalTest\\:\\:\\$mockRouter has no type specified\\.$#"
			count: 1
			path: tests/FunctionalTests/VerifyEmailHelperFunctionalTest.php

		-
			message: "#^Constructor of class SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\IntegrationTests\\\\VerifyEmailHelperAutowireTest has an unused parameter \\$helper\\.$#"
			count: 1
			path: tests/IntegrationTests/VerifyEmailBundleAutowireTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\IntegrationTests\\\\DefinitionPublicCompilerPass\\:\\:\\$definition has no type specified\\.$#"
			count: 1
			path: tests/IntegrationTests/VerifyEmailServiceDefinitionTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\IntegrationTests\\\\VerifyEmailDefinitionTestKernel\\:\\:\\$compilerPass has no type specified\\.$#"
			count: 1
			path: tests/IntegrationTests/VerifyEmailServiceDefinitionTest.php

		-
			message: "#^Call to an undefined method object\\:\\:getReason\\(\\)\\.$#"
			count: 1
			path: tests/UnitTests/Exception/VerifyEmailExceptionTest.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, string\\|false given\\.$#"
			count: 1
			path: tests/UnitTests/Generator/VerifyEmailTokenGeneratorTest.php

		-
			message: "#^Parameter \\#1 \\$expiresAt of class SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Model\\\\VerifyEmailSignatureComponents constructor expects DateTimeInterface, DateTimeImmutable\\|false given\\.$#"
			count: 2
			path: tests/UnitTests/Model/VerifyEmailSignatureComponentsTest.php

		-
			message: "#^Class Symfony\\\\Component\\\\HttpKernel\\\\UriSigner not found\\.$#"
			count: 1
			path: tests/UnitTests/VerifyEmailHelperTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\UnitTests\\\\VerifyEmailHelperTest\\:\\:\\$mockQueryUtility has no type specified\\.$#"
			count: 1
			path: tests/UnitTests/VerifyEmailHelperTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\UnitTests\\\\VerifyEmailHelperTest\\:\\:\\$mockRouter has no type specified\\.$#"
			count: 1
			path: tests/UnitTests/VerifyEmailHelperTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\UnitTests\\\\VerifyEmailHelperTest\\:\\:\\$mockSigner has no type specified\\.$#"
			count: 1
			path: tests/UnitTests/VerifyEmailHelperTest.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\UnitTests\\\\VerifyEmailHelperTest\\:\\:\\$tokenGenerator has no type specified\\.$#"
			count: 1
			path: tests/UnitTests/VerifyEmailHelperTest.php

		-
			message: "#^Method SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\VerifyEmailTestKernel\\:\\:__construct\\(\\) has parameter \\$routes with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/VerifyEmailTestKernel.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\VerifyEmailTestKernel\\:\\:\\$builder has no type specified\\.$#"
			count: 1
			path: tests/VerifyEmailTestKernel.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\VerifyEmailTestKernel\\:\\:\\$extraBundles has no type specified\\.$#"
			count: 1
			path: tests/VerifyEmailTestKernel.php

		-
			message: "#^Property SymfonyCasts\\\\Bundle\\\\VerifyEmail\\\\Tests\\\\VerifyEmailTestKernel\\:\\:\\$routes has no type specified\\.$#"
			count: 1
			path: tests/VerifyEmailTestKernel.php

		-
		    identifier: argument.type
		    count: 1
		    path: tests/UnitTests/Exception/VerifyEmailExceptionTest.php
